@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes moving {
  from {transform:translateX(0%);}
  to {transform:translateX(-10%);}
}
@keyframes moving-pieces {
  from {transform:translateX(0%);}
  to {transform:translateX(-100%);}
}

.image-slider {
  animation: moving 100s linear;
  animation-iteration-count: infinite; 
}

.pieces-image-slider {
  display:inline-block;
  animation: moving-pieces 100s linear;
  animation-iteration-count: infinite; 
}

.pieces-image-slider:hover {
  animation-play-state: paused;
}

img {
  max-width: unset;
  height: unset;
}

body {
  overflow-y: scroll; /* Show scrollbars */
  overflow-x: hidden;
}

.ai-cards-slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ai-cards-slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html:focus-within {
  scroll-behavior: smooth;
}
.apps-menu {
  border-radius: 6px;
  overflow: hidden;
  max-height: 400px;
  margin-top:10px !important;
  overflow-y: auto;
  box-shadow: 0px 3.39516282081604px 6.79032564163208px 0px rgba(0, 0, 0, 0.12);;
  border:1px solid rgba(255, 255, 255, 0.2);
  z-index:100;
}


.apps-menu::-webkit-scrollbar
{
    width: 16px;
   
}
.apps-menu::-webkit-scrollbar-track {
  background: #2D2E33;
  border-top-right-radius:6px;
}
.apps-menu::-webkit-scrollbar-thumb
{
  background: #6B6C70;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 40px;
  scrollbar-width: thin;
}

.apps-menu::-webkit-scrollbar-thumb :hover
{
  background:#c2c9d1;

}
 
.apps-menuitem {
  color:#FFFFFF;
  background-color: #2D2E33;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.025em;
  text-align: left;
  user-select: none;
  outline: 0px solid transparent;
}

.apps-menuitem:hover {
  background-color: #43444b;
}

.apps-menuitem .item-container
{
  padding:35px 35px 20px 35px;
}
.apps-menuitem .item-container-combinations
{
  padding:20px 15px;
}
@media screen and (max-width: 768px) {
    .apps-menuitem .item-container
    {
      padding:30px 30px 20px 30px;
    }
 
}

li {
  outline:0px solid transparent !important;
}





.pricing-menu {
  border-radius: 6px;
  border:1px solid #1111113f;
  overflow: hidden;

  max-height: 336px;
  margin-top:1px !important;
  overflow-y: auto;
  box-shadow: 0px 3.39516282081604px 6.79032564163208px 0px rgba(0, 0, 0, 0.12);;
}


.pricing-menu::-webkit-scrollbar
{
    width: 16px;
}
.pricing-menu::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-top-right-radius:6px;
}
.pricing-menu::-webkit-scrollbar-thumb
{
  background: #898A8E;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 40px;
    scrollbar-width: thin;

 
}



.pricing-menuitem {
  color:#111111;
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.025em;
  text-align: left;
  user-select: none;
  outline: 0px solid transparent;
  border-bottom: 1px solid #1111113f;
}
.pricing-menuitem:hover {
  background-color: #dadada;
}

.pricing-menuitem .item-container
{
  padding:20px;
}



.phone-lottie path[fill="rgb(255,179,44)"]
{
  transform:rotate(70deg) /* Rotate the play button*/
}

img[alt="d7c2318f-b731-44a2-a0df-9cd832be3be9.png"],
img[alt="545f2970-1eee-402a-9a52-8ae19c57e650.png"]
{
  width: unset !important;
  margin:auto !important;
}
@media screen and (max-width: 1200px) {
  img[alt="d7c2318f-b731-44a2-a0df-9cd832be3be9.png"],
  img[alt="545f2970-1eee-402a-9a52-8ae19c57e650.png"]
  {
    width: 100% !important;
    margin:auto 
}}

::marker 
{
  margin-right:1ch;
}
.container{
  width: 90%;
}
@media (max-width: 991px)
{
  .container{
    width: 97%;
  }
}
