@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes moving {
  from {transform:translateX(-50%);}
  to {transform:translateX(0%);}
}

.image-slider {
  animation: moving 100s ease-in-out;
  animation-iteration-count: infinite; 
}


img {
  max-width: unset;
  height: unset;
}

body {
  overflow: scroll; /* Show scrollbars */
}