@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes moving {
  from {transform:translateX(-50%);}
  to {transform:translateX(0%);}
}

.image-slider {
  animation: moving 50s ease-in-out;
  animation-iteration-count: infinite; 
}


img {
  max-width: unset;
  height: unset;
}

body {
  overflow-y: scroll; /* Show scrollbars */
  overflow-x: hidden;
}

.ai-cards-slider::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ai-cards-slider {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html:focus-within {
  scroll-behavior: smooth;
}
.apps-menu {
  border-radius: 6px;
  overflow: hidden;
  min-width: 400px;
  max-width: 400px;
  max-height: 400px;
  margin-top:10px !important;
  overflow-y: auto;
  box-shadow: 0px 3.39516282081604px 6.79032564163208px 0px rgba(0, 0, 0, 0.12);;
}
@media screen and (max-width: 1200px) {
  .apps-menu {
    min-width: 320px;
    max-width: 320px;
  }
}

.apps-menu::-webkit-scrollbar
{
    width: 10px;
    border-radius: 6px;
}
.apps-menu::-webkit-scrollbar-track {
  background: #2D2E33;
}
.apps-menu::-webkit-scrollbar-thumb
{
  background: #c2c9d1;
  border-radius: 40px;
  scrollbar-width: thin;
}

.apps-menu::-webkit-scrollbar-thumb:hover
{
  background: rgba(179, 179, 179, 0.7);

}

.apps-menuitem {
  color:#FFFFFF;
  background-color: #2D2E33;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.025em;
  text-align: left;
  user-select: none;
  outline: 0px solid transparent;
}
.apps-menuitem:hover {
  background-color: #43444b;
}

.apps-menuitem .item-container
{
  padding:35px;
}
@media screen and (max-width: 768px) {
    .apps-menuitem .item-container
    {
      padding:15px;
    }
 
}

li {
  outline:0px solid transparent !important;
}





.pricing-menu {
  border-radius: 6px;
  border:1px solid #1111113f;
  overflow: hidden;
  min-width: 336px;
  max-height: 336px;
  margin-top:1px !important;
  overflow-y: auto;
  box-shadow: 0px 3.39516282081604px 6.79032564163208px 0px rgba(0, 0, 0, 0.12);;
}
@media screen and (max-width: 1200px) {
  .pricing-menu {
    min-width: 320px;
    max-width: 320px;
  }
}

.pricing-menu::-webkit-scrollbar
{
    width: 16px;
}
.pricing-menu::-webkit-scrollbar-track {
  background: #FFFFFF;
}
.pricing-menu::-webkit-scrollbar-thumb
{
  background: #898A8E;
    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 40px;
    scrollbar-width: thin;

 
}



.pricing-menuitem {
  color:#111111;
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0.025em;
  text-align: left;
  user-select: none;
  outline: 0px solid transparent;
  border-bottom: 1px solid #1111113f;
}
.pricing-menuitem:hover {
  background-color: #dadada;
}

.pricing-menuitem .item-container
{
  padding:20px;
}
@media screen and (max-width: 768px) {
    .apps-menuitem .item-container
    {
      padding:20px;
    }
 
}
.curtains-animation{
  animation: curtainAnimation 30s infinite;
  background-repeat: repeat-x;
  animation-timing-function: steps(1,end);
  background-size: cover;
}
@keyframes curtainAnimation {
  0% {
      background-image:url('/curtains/curtains_1.svg');
  
  }
  10% {
      background-image:url('/curtains/curtains_2.svg');
     
  }
  20% {
      background-image:url('/curtains/curtains_3.svg');
 
  }
  30% {
      background-image:url('/curtains/curtains_4.svg');
 
  }
  40% {
      background-image:url('/curtains/curtains_5.svg');

  }
  50% {
      background-image:url('/curtains/curtains_6.svg');
  }
  60% {
      background-image:url('/curtains/curtains_7.svg');
  }
  70% {
      background-image:url('/curtains/curtains_8.svg');
  }
  80% {
      background-image:url('/curtains/curtains_9.svg');
  }
  90%
  {
    background-image:url('/curtains/curtains_1.svg');
  }
  100%
  {
    background-image:url('/curtains/curtains_2.svg');
  }

}

.phone-lottie path[fill="rgb(255,179,44)"]
{
  transform:rotate(70deg) /* Rotate the play button*/
}

img[alt="d7c2318f-b731-44a2-a0df-9cd832be3be9.png"],
img[alt="545f2970-1eee-402a-9a52-8ae19c57e650.png"]
{
  width: unset !important;
  margin:auto !important;
}
::marker 
{
  margin-right:1ch;
}